<footer class="sticky-footer">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
            <a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            <a href="#"><i class="fa-brands fa-github fa-lg"></i></a>
        </div>
        <div style="margin: 0.5rem;" >&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/terms">Terms of Service</a>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>